<div class="welcome">
  <h5>Bem vindo ao Clientela!</h5>

  <div class="welcome-bar">
    <h1>O Dashboard te ajuda a manter-se atualizado</h1>
    <p>Aqui aparecerão todas as atividades relacionadas a sua conta no Clientela.<br/>Sempre que você ou alguem da sua equipe editar uma informação<br/> relevante ela aparecerá aqui.</p>
  </div>

  <div class="middle-bar">
    <h1>Dashboard</h1>
    <p>Os Dashboards fornecem uma representação ilustrada<br/>do desempenho dos negócios em toda a organização. Fonte: <%= link_to "Wikipedia", "http://pt.wikipedia.org/wiki/Dashboard" %>.</p>
  </div>

  <div class="middle-bar">
    <h1>Precisa de ajuda?</h1>
    <p>Você pode entrar em contato conosco pelo link "Suporte" no rodapé.</p>
  </div>
</div>