<div class="inner_header">
  <h1>Esta funcionalidade ainda não está pronta</h1>
</div>

<div class="welcome-bar">
  <h1>Quer ajudar?</h1>
  <p>Clique na aba "Suporte" e dê sugestões sobre o que essa funciondalide deve fazer.</p>
</div>

<div class="middle-bar">
  <table>
    <tr>
      <td>
        <h2>Pedindo ajuda</h2>
        <p>Se você precisa de ajuda para usar o Clientela, é por que nós não fizemos ele direito. Nos diga qual a sua dificuldade.</p>
      </td>
      <td>
        <h2>Enviando problemas</h2>
        <p>Você pode ter encontrado uma situação em que o Clientela se comportou inadequadamente. Precisamos saber o que aconteceu.</p>
      </td>
      <td>
        <h2>Sugerindo mudanças</h2>
        <p>Gostaria que o Clientela fizesse algo mais? Envie pra gente suas sugestões de funcionalidade. Sua opinião é importante.</p>
      </td>
    </tr>
  </table><br />
  <p>Você pode entrar em contato conosco pela aba "Suporte" no lado direito superior ou pelo <%= link_to "helpdesk", "http://clientela.zendesk.com/" %> do Clientela </p>
</div>
