<%- content_for :message_title do -%>
Sua conta foi bloqueada. Podemos ajudar?
<%- end -%>
<p>Olá <%= @user.name %>,</p>
<p>Sua conta foi automaticamente bloqueada, pois nosso sistema não identificou o pagamento da última fatura. Há algo errado?</p>
<p>Se você efetuou seu pagamento em dia ou acha que pode ter havido um equívoco, responda esse e-mail para resolvermos o problema.</p>