<%- content_for :message_title do -%>
Sua conta foi bloqueada. Podemos ajudar?
<%- end -%>
<p>Olá <%= @user.name %>,</p>
<p>Sua conta foi bloqueada, pois houve suspeita de abuso dos <a href="http://clientela.com.br/termos">termos de uso</a>. Há algo errado?</p>
<p>Se você acha que pode ter havido um equívoco, responda esse e-mail para resolvermos o problema.</p>