<h1 style="display: inline;"><%= header %></h1>
<span style="float: right; font-size: 0.9em;"><%= link_to_unless_current t(".to_do"), tasks_url %> | <%= link_to_unless_current t(".done"), completed_tasks_url %></span>