<div class="welcome">
  <div class="welcome-bar">
    <h1>Tarefas ajudam a organizar seu dia-a-dia</h1>
    <p>Você pode criar tarefas e relacioná-las a contatos ou oportunidades.<br/>O Clientela te ajuda a lembrar das tarefas que estão para vencer e pode notificá-lo por e-mail.</p>
  </div>

  <div class="middle-bar">
    <h1>Tarefa</h1>
    <p>Obra ou porção de trabalho que tem de ser concluído num determinado prazo. Fonte: <%= link_to "Michaelis", "http://michaelis.uol.com.br/moderno/portugues/index.php?lingua=portugues-portugues&palavra=tarefa" %>.</p>
  </div>
</div>