<div class="welcome">
  <div class="welcome-bar">
    <h1>Gerencie permissões de acesso usando grupos</h1>
    <p>Grupos são úteis quando você deseja que somente algumas pessoas vejam um determinado contato, nota ou oportunidade.</p>
    <br/>
    <p>Você pode, por exemplo, criar um grupo para cada uma das suas equipes de venda. Ou criar um grupo para o departamento de marketing e outro para o departamento de vendas. As possibilidades são muitas!</p>
  </div>

  <div class="middle-bar">
    <h1>Grupo</h1>
    <p>Certo número de pessoas reunidas. Fonte: <%= link_to "Michaelis", "http://michaelis.uol.com.br/moderno/portugues/index.php?lingua=portugues-portugues&palavra=grupo" %>.</p>
  </div>
</div>