<%= tip_box :header => "Você pode ter um Clientela melhor!" do -%>
  <p>Na aba "Suporte" que fica no lado direito superior da tela você pode abrir um chamado conosco.</p>
  <p>Um chamado pode ser uma simples dúvida. Também pode ser o comunicado de um problema ou uma sugestão de melhoria.</p>
  <p>Que tal abrir um chamado agora?</p>
<%- end -%>