$header-top-gradient: #195D00;
$header-bottom-gradient: #124200;
$header-search-border: #FFFFFF;
$header-menu-font: #FFFFFF;
$header-menu-link-font: #EFEFEF;
$header-title-shadow: #000000;

$main-inner-header-background: #F0F5F8;

@import "screen";