$header-top-gradient: #D25FD2;
$header-bottom-gradient: #D235D2;
$header-search-border: #7C1F7C;
$header-menu-font: #FFFFFF;
$header-menu-link-font: #FFFFFF;

$main-inner-header-background: #D8DE8F;

@import "screen";