@import "compass/css3/border-radius";

@import "reset";
@import "cols";
@import "color";

body, textarea {
  font: 12px/1.5 "Lucida Grande", Verdana, Arial, Helvetica, Sans-serif;
}

div#header {
  min-width: 900px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 15px;

  h1 {
    margin-top: -3px;
    margin-left: -10px;
    font-size: 2em;

    a, a:active, a:hover, a:focus {
      text-decoration: none;
    }
  }

  div.search {
    input[type=text] {
      width: 94%;
      padding: 5px 5px 5px 30px;
      font-size: 1.2em;
      @include border-radius(4px, 4px);
      background: #fff url('/images/icon-search.png') no-repeat 6px 3px;
    }

    input[type=text]:focus,
    input[type=text].focus {
      border: 1px solid #FF9C00;
      background: #fff url('/images/icon-search.png') no-repeat 6px -27px;
    }
  }

  div.menu {
    font-size: 0.9em;
    text-align: right;
    padding-right: 4px;

    a {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

.placeholder {
  color: #777;
}

p.notification{
  @include border-radius(3px, 3px);
  display:block;
  padding: 10px;
  text-align:center;
  margin: 0 35px 14px 14px;
  position:relative;
  border:1px solid;

  a.close{
    position:absolute;
    top:0px;
    right:7px;
  }

  a#aprovo{
    background: url('/images/accept.png') no-repeat 0 4px;
    padding: 10px;
    margin-left:  5px;
  }

  a#desaprovo{
    background: url('/images/reject.png') no-repeat 0 4px;
    padding: 10px;
    margin-left:  5px;
  }

  a, a:active, a:hover, a:focus {
    color: #333;
    text-decoration: none;
  }

  &.information {
    background: #dbe3ff;
    border-color: #a2b4ee !important;
    color: #585b66;
  }

  &.error {
    background: #ffcece url('/images/icons/exclamation.png') 7px 8px no-repeat;
    border-color: #df8f8f !important;
    color: #665252;
  }
}

div#left-sidebar {
  hr {
    border-top: 1px solid #DAD8D4;
    border-bottom: 1px solid #FFFFFF;
    margin-top: 30px;
    margin-left: -20px;
    margin-right: -20px;
  }

  h2 {
    margin-left: 10px;
    font-size: 1em;
    color: #999;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-shadow: 0px 2px 2px white;
  }

  ul {
    margin-top: 10px;
    margin-right: -20px;
    list-style: none;

    li {
      margin-left: -22px;
      padding-left: 32px;

      &.dashboard {
        background: transparent url(/images/menu-icons.png) no-repeat 12px 13px;
      }

      &.dashboard.current {
        background: #E5E3DE url(/images/menu-icons.png) no-repeat 12px -17px;
      }

      &.tasks {
        background: transparent url(/images/menu-icons.png) no-repeat 12px -166px;
      }

      &.tasks.current {
        background: #E5E3DE url(/images/menu-icons.png) no-repeat 12px -196px;
      }

      &.contacts {
        background: transparent url(/images/menu-icons.png) no-repeat 13px -46px;
      }

      &.contacts.current {
        background: #E5E3DE url(/images/menu-icons.png) no-repeat 13px -76px;
      }

      &.facts {
        background: transparent url(/images/menu-icons.png) no-repeat 12px -226px;
      }

      &.facts.current {
        background: #E5E3DE url(/images/menu-icons.png) no-repeat 12px -256px;
      }

      &.deals {
        background: transparent url(/images/menu-icons.png) no-repeat 12px -106px;
      }

      &.deals.current {
        background: #E5E3DE url(/images/menu-icons.png) no-repeat 12px -136px;
      }

      &.companies {
        background: transparent url(/images/menu-icons.png) no-repeat 12px -349px;
      }

      &.companies.current {
        background: #E5E3DE url(/images/menu-icons.png) no-repeat 12px -379px;
      }

      &.reports {
        background: transparent url(/images/menu-icons.png) no-repeat 12px -286px;
      }

      &.reports.current {
        background: #E5E3DE url(/images/menu-icons.png) no-repeat 12px -316px;
      }

      a {
        display: block;
        text-decoration: none;
        line-height: 24px;
        padding: 7px 0;
        font-size: 1em;
      }

      a.button {
        margin: 4px 6px 0 0;
        font-size: .8em;
        float: right;

        span {
          padding-left: 16px;
          background: transparent url(/images/icon-add.png) no-repeat 0 0;
        }
      }

      &.current {
        a {
          font-weight: bold;
        }
      }
    }
  }

  div.favorites {
    ul {
      li {
        background: transparent url(/images/menu-icons.png) no-repeat 12px -416px;

        &.current {
          background: #E5E3DE url(/images/menu-icons.png) no-repeat 12px -447px;
        }

        a {
          padding: 2px 0;
        }
      }
    }
  }
}

div#right-sidebar {
  div.sidebar-module {
    @include border-radius(6px, 6px);
    padding: 10px 15px;
    margin-bottom: 15px;

    h2 {
      font-size: 1.1em;
    }

    div.inner {
      margin-top: 15px;

      .button {
        margin-bottom: 10px;
      }
    }

    ul.relatioship-list, ul.contacts-list {
      list-style: none;

      li {
        div.avatar {
          float: left;
        }

        div.contact-data {
          margin-left: 45px;
          line-height: 1.5em;

          a {
            color: #666;
            text-decoration: none;
          }

          div.contact-name {
            font-size: 1.3em;
            font-weight: bold;
          }

          div.contact-title-and-company {
            font-size: 0.9em;
          }

          div.contact-tags {
            font-size: 0.8em;
          }
        }

        float: left;
        min-height: 90px;
        @include border-radius(6px, 6px);
        padding: 5px;
        margin: 0 3px 4px 0;
      }
    }

    ul.contacts-list {
      li {
        div.contact-data {
          margin-left: 60px;
        }
      }
    }

    dl.sidebar-contact-data {
      dt {
        font-weight: bold;
        font-size: 1.1em;
        border-bottom: 1px solid #EFEFEF;
        margin-top: 10px;
      }

      dd {
        span {
          font-size: 0.8em;
          margin-left: 5px;
          color: #666;
        }
      }
    }
  }
}

$main-internal-padding: 12px 15px;

div#main{
  @include border-radius(6px, 6px);
  min-height: 500px;

  div.inner_header {
    @include border-top-left-radius(6px);
    @include border-top-right-radius(6px);

    margin: 0;
    padding: $main-internal-padding;

    h1 {
      font-size: 1.3em;
      font-weight: normal;
    }
  }

  div.contact-show {
    height: 50px;

    div.avatar {
      float: left;
    }

    div.contact-data {
      margin-left: 60px;
      line-height: 2em;

      a {
        color: #666;
        text-decoration: none;
      }

      div.contact-name {
        font-size: 2.5em;
        font-weight: bold;
      }
    }

    div.contact-title-and-company {
      font-size: 0.9em;
    }
  }

  div#main_content {

    #calendar {
      margin: 5px 0;
      border: 1px solid #e5e5e5;
      @include border-radius(6px, 6px);

      #all-tasks {
        margin: 5px 20px 0 0;
        padding: 3px 3px 3px 20px;
        color: #555;
        background: transparent url(/images/menu-icons.png) no-repeat 0 -174px;
        text-decoration: none;
        text-shadow: 0px 2px 0 #fff;
        font-size: .9em;
        float: right;
      }

      #all-tasks:hover {
        color: #000;
        background: transparent url(/images/menu-icons.png) no-repeat 0 -204px;
      }

      nav {
        display: block;
        height: 30px;
        background: $main-inner-header-background;
        background: -moz-linear-gradient(top, #fff 0%, $main-inner-header-background 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,$main-inner-header-background)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #fff 0%,$main-inner-header-background 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #fff 0%,$main-inner-header-background 100%); /* Opera11.10+ */
        background: -ms-linear-gradient(top, #fff 0%,$main-inner-header-background 100%); /* IE10+ */
        background: linear-gradient(top, #fff 0%,$main-inner-header-background 100%); /* W3C */
        border-bottom: 1px solid #e5e5e5;

        ul {
          margin: 10px 0 0 10px;
          height: 18px;

          li {
            margin: 0 6px;
            color: #555;
            text-shadow: 0px 2px 0 #fff;
            font-size: 1.1em;
            float: left;

            a {
              display: block;
              width: 15px;
              height: 18px;
              text-indent: -9999px;

              &#prev-weeks {
                background: transparent url(/images/nav-arrows.png) no-repeat 0 0;
              }

              &#prev-weeks:hover {
                background: transparent url(/images/nav-arrows.png) no-repeat 0 -20px;
              }

              &#next-weeks {
                background: transparent url(/images/nav-arrows.png) no-repeat -18px 0;
              }

              &#next-weeks:hover {
                background: transparent url(/images/nav-arrows.png) no-repeat -18px -20px;
              }
            }
          }
        }
      }

      table {
        width: 100%;

        th.weekend, td.weekend {
          display: none;
        }

        tr#weekend-control {
          td {
            padding-left: 10px;
            background-color: #efede7;

            a {
              color: #000;
              text-shadow: 0px 1px 0 #fff;

              &:hover {
                color: #555;
              }
            }
          }
        }

        tr {
          th {
            width: 14%;
            padding: 4px 0;
            text-align: center;
            background-color: #efede7;
            border-top: 1px solid #fff;
            border-left: 1px solid #fff;
            border-right: 1px solid #ccc;
            text-shadow: 0px 1px 0 #fff;
          }

          td {
            padding: 4px;
            border-top: 1px solid #E5E5E5;
            border-right: 1px solid #E5E5E5;

            &.current {
              background-color: #FFFFCC;
            }

            a.hide-show-weekend {
              color: #555555;
              text-decoration: none;
              text-shadow: 0px 2px 0 #fff;
              font-size: .9em;
            }

            .day {
              margin: 0 0 4px 0;
              font-size: .8em;
              text-align: center;
              color: #999;
            }

            .day-content {
              display: block;
              min-height: 90px;
            }

            ul {
              list-style-type: none;

              li {
                font-size: .8em;
              }
            }
          }
        }
      }
    }

    .info-box {
      margin: 10px 0;
      width: 49%;
      height: 437px;
      border: 1px solid #e5e5e5;
      @include border-radius(6px, 6px);

      &.full {
        width: 99%;
      }

      h2 {
        margin: 0 0 10px 0;
        padding: 8px 15px;
        background: $main-inner-header-background;
        background: -moz-linear-gradient(top, #fff 0%, $main-inner-header-background 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,$main-inner-header-background)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #fff 0%,$main-inner-header-background 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #fff 0%,$main-inner-header-background 100%); /* Opera11.10+ */
        background: -ms-linear-gradient(top, #fff 0%,$main-inner-header-background 100%); /* IE10+ */
        background: linear-gradient(top, #fff 0%,$main-inner-header-background 100%); /* W3C */
        border-bottom: 1px solid #e5e5e5;
        text-shadow: 0px 2px 0 #fff;
        color: #555;
        @include border-top-left-radius(6px);
        @include border-top-right-radius(6px);
      }

      div.container {
        margin: 18px;

        a.see-all {
          color: $header-bottom-gradient;
          font-size: .9em;
          text-decoration: none;

          &:hover {
            color: #000;
            border-bottom: 1px dotted #ccc;
          }
        }

        p.big {
          font-size: 2em;
          text-align: center;

          a {
            text-decoration: none;
            color: $header-bottom-gradient;
          }
        }

        &#deals-container {
          margin: 18px 0 18px 18px;
          padding-right: 18px;
          height: 365px;
          overflow: auto;
        }
      }

      h2 {
        span {
          display: block;
          padding: 2px 0 2px 18px;
        }
      }

      &#deals {
        float: left;

        h2 {
          span {
            background: transparent url(/images/menu-icons.png) no-repeat 0 -115px;
          }
        }

        nav#deals-open {
          ul {
            margin: 0 0 10px 0;

            li {
              padding: 0 0 10px;
              border-bottom: 1px solid #ccc;

              .created-at {
                margin: 2px 0 0 10px;
                color: #C87800;
                font-size: .9em;
                float: right;
              }

              p {
                font-size: .9em;
                color: #948B6E;
              }
            }
          }
        }

        h3 {
          border: 0;
          margin: 5px 0;
          font-size: 1.2em;

          a {
            color: #666;
            text-decoration: none;

            &:hover {
              color: #000;
            }
          }
        }

        #deals-container {
          span {
            font-size: 0.9em;
          }
        }
      }

      &#deal-status {
        float: right;
        h2 {
          span {
            background: transparent url(/images/menu-icons.png) no-repeat 0 -295px;
          }
        }
      }
    }

    h3 {
      margin-bottom: 15px;
      border-bottom: 1px solid #ccc;

      &.won {
        background-color: #d5ffce;
        border: 1px solid #b3ddac;
        background: -webkit-gradient(linear, left top, left 25, from(#d5ffce), color-stop(4%, #b3ddac), to(#d5ffce));
        background: -moz-linear-gradient(top, #d5ffce, #b3ddac 1px, #d5ffce 25px);
        padding: 1%;
      }

      &.pending, &.prospect, &.qualify, &.proposal, &.negotiation {
        background-color: #9ff;
        border: 1px solid #7dd;
        background: -webkit-gradient(linear, left top, left 25, from(#9ff), color-stop(4%, #7dd), to(#9ff));
        background: -moz-linear-gradient(top, #9ff, #7dd 1px, #9ff 25px);
        padding: 1%;
      }

      &.lost {
        background-color: #df8f8f;
        border: 1px solid #bd6d6d;
        background: -webkit-gradient(linear, left top, left 25, from(#df8f8f), color-stop(4%, #bd6d6d), to(#df8f8f));
        background: -moz-linear-gradient(top, #df8f8f, #bd6d6d 1px, #df8f8f 25px);
        padding: 1%;
      }
    }

    padding: $main-internal-padding;

    div#notes {
      div.note-item {
        border-top: 1px solid #ccc;
        margin-top: 15px;
        padding-top: 5px;

        p {
          padding: 5px 0;
        }
      }
    }

    form {
      &#new_note, &.edit_note {
        label {
          font-weight: bold;
        }

        textarea {
          width: 100%;
          height: 100px;
        }

        a {
          text-decoration: none;
          color: #666;
          font-size: 0.9em;
        }

        div.note-form-basics {
          div.actions {
            float: right;
          }
          margin-bottom: 30px;
        }

        div.note-form-extras {
          div.actions {
            border-top: 1px solid #CCC;
            margin-top: 10px;
            padding-top: 10px;
            padding-bottom: 5px;
          }
        }
      }

      input[type=text], input[type=password] {
        padding: 5px;
      }

      div.attributes {
        div.attribute {
          border-bottom: 1px solid #EDEDED;
          padding-bottom: 10px;
          margin-bottom: 10px;

          div.label {
            float:left;
            font-weight: bold;
          }

          div.field, p {
            margin-left: 90px;

            textarea {
              width: 350px;
              height: 100px;
            }

            div.field_with_errors {
              input[type=text], input[type=password] {
                background: #FFCECE;
              }
            }

            a {
              font-size: 0.9em;
              color: #666;
              text-decoration: none;
            }
          }

          div.error {
            margin-left: 90px;
            color: #F00;
          }
        }

        div.actions {
          margin-top: 10px;
        }
      }

      div.highlight {
        font-size: 1.3em;

        input[type=text] {
          font-size: 1.3em;
        }
      }
    }

    div.index-list {
      ul {
        list-style: none;

        li {
          div.avatar {
            float: left;
          }

          div.contact-data, div.fact-data, div.deal-data, div.user-data {
            margin-left: 60px;
            line-height: 1.5em;

            a {
              color: #666;
              text-decoration: none;
            }

            div.contact-name, div.fact-name, div.deal-name, div.user-name {
              font-size: 1.3em;
              font-weight: bold;
            }

            div.contact-title-and-company, div.fact-last-update, div.deal-bid {
              font-size: 0.9em;
            }

            div.contact-email {
              overflow: hidden;
            }

            div.contact-tags {
              font-size: 0.8em;
            }
          }

          float: left;
          width: 46%;
          min-height: 90px;
          @include border-radius(6px, 6px);
          border: 2px solid #E5E5E5;
          padding: 5px;
          margin: 0 1% 1% 0;
        }
      }
    }

    div.welcome {
      h5 {
        font-size: 2em;
        text-align: center;
      }

      h1 {
        font-size: 1.4em;
      }

      div.middle-bar {
        h1 {
          margin-bottom: 10px;
        }
        margin: 20px 0;
        text-align: center;
      }

      div.welcome-bar {
        h1 {
          margin-bottom: 10px;
        }
        margin: 20px 0;
        text-align: center;
        padding: 10px;

        background-color: $main-inner-header-background;
        border-bottom: 1px solid #DADEE5;
        border-top: 1px solid #DADEE5;
      }
    }
  }
}

div#tasks_list, #calendar {
  ul {
    list-style: none;

    li {
      margin-bottom: 10px;

      span.panel-task {
        @include border-radius(12px, 12px);
        position: absolute;
        margin-top: -3px;
        margin-left: -60px;
        padding: 2px 4px;
        display: none;
      }

      span.task-checkbox {
        float: left;

        input {
          margin: 1px 3px 3px 3px;
        }
      }

      span.task-body {
        display: block;
        margin-left: 22px;

        span.category {
          padding: 1px 3px;
          font-size: 0.9em;
          font-weight: bold;
          @include border-radius(2px, 2px);
        }

        span.assigned-to {
          font-size: 0.9em;
          padding: 2px 3px;
          @include border-radius(5px, 5px);
        }
      }

      .task-info {
        position: absolute;
        margin: -20px 0 0 80px;
        padding: 10px 20px;
        max-width: 240px;
        background-color: #fff;
        border: 2px solid #ccc;
        @include border-radius(4px, 4px);
        -webkit-box-shadow: 0 3px 5px rgba(0,0,0,.2);
        -moz-box-shadow: 0 3px 5px rgba(0,0,0,.2);
        box-shadow: 0 3px 5px rgba(0,0,0,.2);
        display: none;

        a {
          color: #000;
          text-decoration: none;
          border-bottom: 1px dotted #ccc;

          &:hover {
            color: #555;
          }

          img {
            vertical-align: middle;
          }
        }

        h2 {
          color: #555;
          font-size: 1.4em;
        }

        h3 {
          margin: 1em 0 0 0;
          color: #999;
          font-size: 1em;
        }

        .quick-show-content {
          margin-top: -10px;
          padding: 10px;
          @include border-radius(4px, 4px);
          background-color: #EFEDE7;
          overflow: hidden;

          .contact-data {
            ul {
              margin: 10px 0 0 0;

              li {
                font-size: 1em !important;
              }
            }
          }
        }

        .task-controls {
          margin-top: 10px;
        }

        .pointer-left, .pointer-left-inner {
          position: absolute;
          width:0;
          height:0;
          border-left-width: 0;
          background: none;
        }

        .pointer-left {
          border-top: 7px solid transparent;
          border-bottom: 7px solid transparent;
          border-right: 14px solid #ccc;
          left:	-14px;
          top: 20px;
          margin-bottom: -7px;
        }

        .pointer-left-inner {
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-right: 10px solid #fff;
          left:	auto;
          right: -14px;
          top: -5px;
        }
      }
    }
  }
}

#calendar {
  ul {
    li {
      cursor: pointer;

      .task-info {
        cursor: default;
      }
    }
  }
}

div#activities-container {
  dl {
    min-height: 400px;

    dt {
      width:        70px;
      padding:      2px 3px;
      color:        #fff;
      font-weight:  normal;
      text-align:   right;
      font-size:    0.8em;
      float:        left;

      &.note    { background-color: #334E7D; }
      &.pending, &.prospect, &.qualify, &.proposal, &.negotiation { background-color: #333333; }
      &.won     { background-color: #339933; }
      &.create  { background-color: #333333; }
      &.lost    { background-color: #CC0000; }
      &.task    { background-color: #C87800; }
      &.destroy { background-color: #333333; }
    }

    dd {
      margin-left: 88px;
      margin-bottom: 15px;
      font-size: 0.9em;
      border-bottom: 1px solid #DFDFDF;

      span {
        display: block;

        &.refrecord {
          font-weight: bold;
          color: #333333;
          text-decoration: none;
          a {
            font-weight: bold;
            color: #333333;
            text-decoration: none;
          }
        }

        &.done {
          text-decoration: line-through;
        }

        &.posted-by {
          color: #948B6E;
          font-size: 0.9em;
        }

        &.date {
          float: right;
        }

        &.body {
          margin-right: 50px;
        }

        &.destroy {
          text-decoration: line-through;
        }
      }
    }
  }

  .pagination {
    margin: auto;
    width: 190px;
    height: 40px;

    span,
    a {
      display: block;
      width: 90px;
      padding: 6px 0;
      text-align: center;
      outline: none;
      text-decoration: none;
      text-shadow: 0 1px 1px rgba(0,0,0,.3);
      color: #2E4347 !important;
      border: solid 1px #b7b7b7;
      background: #fff;
      background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
      background: -moz-linear-gradient(top,  #fff,  #ededed);
      filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
      float: left;
    }

    a:hover {
      text-decoration: none;
      background: #ededed;
      background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
      background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
      filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
    }

    a:active {
      color: #999;
      background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
      background: -moz-linear-gradient(top,  #ededed,  #fff);
      filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
    }

    .disabled {
      color: #aaa !important;
      background: #ededed;
      background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ffffff));
      background: -moz-linear-gradient(top,  #ededed,  #ffffff);
      filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
      text-shadow: 0 1px 0px #fff;
    }

    .prev_page {
      @include border-top-left-radius(20px);
      @include border-bottom-left-radius(20px);
    }

    .next_page {
      @include border-top-right-radius(20px);
      @include border-bottom-right-radius(20px);
    }
  }
}

div.quick-show-content {
  ul {
    list-style: none;
  }

  div.avatar {
    float: left;
  }

  div.contact-data, div.deal-data, div.fact-data {
    margin-left: 60px;
    line-height: 1.5em;

    a {
      color: #666;
      text-decoration: none;
    }

    div.contact-name, div.deal-name, div.fact-name {
      font-size: 1.3em;
      font-weight: bold;
    }

    div.contact-title-and-company, div.deal-bid {
      font-size: 0.9em;
    }
  }
}

div#wrapper {
  min-width: 900px;
}

div#footer {
  font-size: 0.9em;
  margin-top: 25px;
  padding: 10px 0;
}

.spinner {
  display: none;
}

.sample-tags {
  width: 350px;
  margin-left: 90px;
  padding: 4px;
  border: 1px solid #BBB;

  span{
    @include border-radius(4px, 4px);
    line-height: 25px;
    padding: 3px 5px;
    background: #C9F76F;
    cursor: pointer;
  }
}

div#task-form {
  div#left-side, div#right-side {
    width: 320px;
    float: left;
  }

  div.attribute{
    border-bottom: 1px solid #EDEDED;
    padding-bottom: 10px;
    margin-bottom: 10px;

    div.label {
      font-weight: bold;
    }

    textarea {
      width: 95%;
      height: 17px;
      font-size: 1em;
      padding: 5px;
    }
  }

  div#task-datepicker {
    margin-left: 20px;
    border-left: 1px solid #EDEDED;
    height: 320px;

    div#task-datepicker-wrapper {
      margin: 0 auto;
      display: table;
      text-align: center;
    }

    div.show-date{
      padding-top: 10px;
    }
  }
}

.button {
  @include border-radius(.5em, .5em);
  line-height: 10px !important;
  display: inline-block;
  zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
  *display: inline;
  vertical-align: baseline;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  padding: 8px 6px !important;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.4);
  box-shadow: 0 1px 2px rgba(0,0,0,.4);
  color: #2E4347 !important;
  border: solid 1px #b7b7b7;
  background: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
  background: -moz-linear-gradient(top,  #fff,  #ededed);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}

.button:hover {
  text-decoration: none;
  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
  background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}

.button:active {
  position: relative;
  top: 1px;
  color: #999;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
  background: -moz-linear-gradient(top,  #ededed,  #fff);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}

.deal-status {
  input[type="radio"] {
    -moz-opacity: 0;
    filter: unquote("alpha(opacity:0)");
    opacity: 0;
  }

  label {
    width: 70%;
    padding: 8px 0;
    cursor: pointer;
    float: left;
    clear: none;
    padding-right: 20px;
    text-shadow: 0 1px 2px #363636;
    color: #363636;
    -webkit-border-radius: .5em 1.5em 1.5em .5em;
    -moz-border-radius: .5em 1.5em 1.5em .5em;

    &.checked {
      width: 90%;
      margin-top: -2px;
      font-size: 1.3em;
      color: #000;
    }

    &.won {
      background-color: #d5ffce;
      border: 1px solid #b3ddac;
      background: -webkit-gradient(linear, left top, left 25, from(#d5ffce), color-stop(4%, #b3ddac), to(#d5ffce));
      background: -moz-linear-gradient(top, #d5ffce, #b3ddac 1px, #d5ffce 25px);
    }

    &.prospect, &.qualify, &.proposal, &.negotiation {
      background-color: #9ff;
      border: 1px solid #7dd;
      background: -webkit-gradient(linear, left top, left 25, from(#9ff), color-stop(4%, #7dd), to(#9ff));
      background: -moz-linear-gradient(top, #9ff, #7dd 1px, #9ff 25px);
    }

    &.lost {
      background-color: #df8f8f;
      border: 1px solid #bd6d6d;
      background: -webkit-gradient(linear, left top, left 25, from(#df8f8f), color-stop(4%, #bd6d6d), to(#df8f8f));
      background: -moz-linear-gradient(top, #df8f8f, #bd6d6d 1px, #df8f8f 25px);
    }
  }
}

div.googlevisualr-chart {
  margin-top: -40px;
}