$header-top-gradient: #ffcc00;
$header-bottom-gradient: #e5b800;
$header-search-border: #D1AB00;
$header-menu-font: #000000;
$header-menu-link-font: #664400;

$main-inner-header-background: #F0F5F8;

@import "screen";