<div class="welcome">
  <div class="welcome-bar">
    <h1>Ocorrências são usadas para tratar eventos especiais</h1>
    <p>Seu cliente não recebeu a sua mercadoria? Isso causou um grande problema de relacionamento entre vocês? Acompanhe esse caso de forma especial cadastrando uma ocorrência.</p>
  </div>

  <div class="middle-bar">
    <h1>Ocorrência</h1>
    <p>Ato de ocorrer; acaso, acontecimento fortuito, sucesso. Fonte: <%= link_to "Michaelis", "http://michaelis.uol.com.br/moderno/portugues/index.php?lingua=portugues-portugues&palavra=ocorr%EAncia" %>.</p>
  </div>
</div>