<div class="welcome">
  <div class="welcome-bar">
    <h1>Aqui serão listados os seus contatos</h1>
    <p>Seus contatos podem ser clientes, fornecedores ou qualquer pessoa que possua relação com a empresa.</p>
  </div>

  <div class="middle-bar">
    <h1>Cliente</h1>
    <p>Freguês. O que habitualmente compra da pessoa certa. Fonte: <%= link_to "Michaelis", "http://michaelis.uol.com.br/moderno/portugues/index.php?lingua=portugues-portugues&palavra=fregu%EAs" %>.</p>
  
    <h1>Fornecedor</h1>
    <p>Que, ou o que fornece quaisquer mercadorias; abastecedor. Fonte: <%= link_to "Michaelis", "http://michaelis.uol.com.br/moderno/portugues/index.php?lingua=portugues-portugues&palavra=fornecedor" %>.</p>
  </div>
</div>