<li>
  <%= small_thumb_tag('iconika-grey-icons/48x48/star.png') %>
  <div class="deal-data">
    <div class="deal-name"><%= link_to deal.name, deal %></div>
    <div class="deal-bid">
      <%= formated_bid(deal) %>
    </div>
  </div>
</li>