<div class="welcome">
  <div class="welcome-bar">
    <h1>Oportunidades são a chave do seu negócio</h1>
    <p>Você poderá organizar e atualizar todas as suas oportunidades. Mantenha notas e tarefas relacionadas as oportunidades, além de informações importantes para o seu sucesso.</p>
  </div>

  <div class="middle-bar">
    <h1>Oportunidade</h1>
    <p>Ocasião favorável. Fonte: <%= link_to "Michaelis", "http://michaelis.uol.com.br/moderno/portugues/index.php?lingua=portugues-portugues&palavra=oportunidade" %>.</p>
  </div>
</div>