<div class="welcome-bar">
  <h1>Seus dados categorizados</h1>
  <p>Utilize para categorizar seus Contatos e Oportunidades.</p>
</div>

<div class="middle-bar">
  <h1>Categorias</h1>

  <p>São uma ótima forma de você organizar seus dados. Você pode marcar um contato como <strong>cliente</strong> ou <strong>fornecedor</strong> e rapidamente visualizar todos os seus dados categorizados.</p>
</div>